.reservation-calendar {
    width: 24rem;
    margin: auto;
    width: 20rem;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    z-index: 4;

    -webkit-box-shadow: 1px -1px 100px -58px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px -1px 100px -58px rgba(66, 68, 90, 1);
    box-shadow: 1px -1px 100px -58px rgba(66, 68, 90, 1);
}

.month-switch {
    display: flex;
    justify-content: center;
    padding: 5px 10px 5px 10px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    width: 18rem;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
}
.selected-month {
    /*  */
}
.change-month-arrow {
    cursor: pointer;
}

.month-switch > div {
    margin: 20px;
}

.table {
    margin: auto;
}

tr,
td {
    padding: 10px;
}

td {
    cursor: pointer;
}

.selected-day {
    background-color: #4e9845;
    color: white;
    border-radius: 2rem;
    border-collapse: collapse;
}

.today {
    border: 2px solid #edf5ec;
    border-radius: 25px;
}

.in-range {
    background-color: #edf5ec;
    border-radius: 25px;
    color: #4e9845;
}

.unavailable-day {
    color: gray;
    opacity: 0.5;
}
