.reservation-head {
    width: 22rem;
    margin: auto;
    border-radius: 20px;
    padding: 20px;

    -webkit-box-shadow: 3px 7px 100px -38px rgba(66, 68, 90, 1);
    -moz-box-shadow: 3px 7px 100px -38px rgba(66, 68, 90, 1);
    box-shadow: 3px 7px 100px -38px rgba(66, 68, 90, 1);
}

.submit-values {
    display: flex;
    justify-content: space-between;
}

.price {
    font-size: 32px;
    font-weight: 900;
    margin: 2px;
}

.submit-button {
    background-color: #4e9845;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    width: 100px;
    padding-top: 15px;
}

.votes {
    margin: 10px;
    display: flex;
    align-items: start;
    color: gray;
    font-size: 15px;
    font-weight: 700;
}

.stars {
    text-align: left;
    width: 26%;
    font-size: 19px;
    display: inline-block;
    letter-spacing: -3px;
}

.active-stars {
    color: green;
}

.half-star::before {
    content: '\2605';
    color: green;
    position: absolute;
    width: 8px;
    overflow: hidden;
}
.votes-amount {
    margin-top: 5px;
}

.selected-interval {
    border: solid 1px rgba(0, 128, 0, 0.4);
    text-align: center;
    margin: auto;
    width: 20rem;
    padding: 4px;
}

.selected-interval {
    display: flex;
    justify-content: center;
    border-radius: 25px;
}

.selected-interval > div {
    padding: 10px;
    display: flex;
}
.interval-arrow {
    font-size: 20px;
    text-align: center;
    padding-top: 5px !important;
}

.close-button {
    margin-left: 15px;
    cursor: pointer;
    color: gray;
    font-weight: 500;
}

.selected-interval > .to {
    background-color: #edf5ec;
    color: #4e9845;
    border-radius: 2rem;
}
