.reservation-head {
    width: 22rem;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    z-index: 2;

    -webkit-box-shadow: 3px 7px 100px -28px rgba(66, 68, 90, 1);
    -moz-box-shadow: 3px 7px 100px -28px rgba(66, 68, 90, 1);
    box-shadow: 3px 7px 100px -28px rgba(66, 68, 90, 1);
}

.submit-values {
    display: flex;
    justify-content: space-between;
}

.price {
    font-size: 32px;
    font-weight: 900;
    margin: 2px;
}

.submit-button {
    background-color: #4e9845;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    width: 100px;
    padding-top: 15px;
}

.stars {
    text-align: left;
    margin: 10px;
    width: 50%;
}

.selected-interval {
    border: solid 1px rgba(0, 128, 0, 0.2);
    text-align: center;
    margin: auto;
    width: 20rem;
    padding: 4px;
}

.selected-interval {
    display: flex;
    justify-content: center;
    border-radius: 25px;
}

.selected-interval > div {
    padding: 10px;
    display: flex;
}
.interval-arrow {
    font-size: 20px;
    text-align: center;
    padding-top: 5px !important;
}

.close-button {
    margin-left: 15px;
    cursor: pointer;
    color: gray;
    font-weight: 500;
}

.selected-interval > .to {
    background-color: #edf5ec;
    color: #4e9845;
    border-radius: 2rem;
}
