.reservation-calendar {
    width: 24rem;
    margin: auto;
    width: 20rem;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    margin-top: -10px;
    background-color: white;

    -webkit-box-shadow: 3px 1px 50px -28px rgba(66, 68, 90, 1);
    -moz-box-shadow: 3px 1px 50px -28px rgba(66, 68, 90, 1);
    box-shadow: 3px 1px 50px -28px rgba(66, 68, 90, 1);
}

.month-switch {
    display: flex;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    width: 18rem;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
}

.change-month-arrow {
    cursor: pointer;
}

.month-switch > div {
    margin: 20px;
}

.table {
    margin: auto;
    border-spacing: 0px;
}

tr,
td {
    padding: 10px;
}

td {
    cursor: pointer;
}

th {
    color: gray;
    font-weight: 500;
}

.selected-day {
    background-color: #4e9845;
    color: white;
    border-radius: 25px;
}

.today {
    border: 2px solid #bbe7b5;
    border-radius: 25px;
}

.in-range {
    background-color: #edf5ec;
    color: #4e9845;
}

.unavailable-day {
    color: gray;
    opacity: 0.5;
}
